/* Understanding */
.flowforge-understanding-container {
  background: transparent;
}
.flowforge-understanding-list {
}
.flowforge-understanding-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  gap: var(--flowforge-pad-xs);
}
.flowforge-understanding-list li {
  margin: 0;
  padding: 0;
  font: var(--flowforge-text-sm);
}
