/* Main */
.flowforge-main {
    font: var(--flowforge-text-md);
    color: var(--flowforge-color-text);
    text-align: initial;
    text-transform: none;
    letter-spacing: normal;
    visibility: visible;
}
:where(.flowforge-main, .flowforge-main *) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:where(.flowforge-main [hidden]) {
    display: none !important;
}
