@import '../../../../shared/index.css';

@import '../../../../popup/popup.css';

@import './components/Opener/Opener.css';

/* Inspector popup */
.flowforge-popup--inspector {
  --flowforge-inspector-popup-width: 320px;
  --flowforge-inspector-popup-height: 440px;
  --flowforge-inspector-popup-header-height: 80px;
}
.flowforge-popup--inspector {
  width: var(--flowforge-inspector-popup-width);
  height: var(--flowforge-inspector-popup-height);
}
.flowforge-popup--inspector .flowforge-popup__header {
  background:
    url('../../../../shared/img/footer-bg-sm.webp') right bottom no-repeat,
    linear-gradient(
      135deg,
      var(--flowforge-color-secondary) 0%,
      var(--flowforge-color-secondary-hover) 100%
    );
}
.flowforge-popup--inspector .flowforge-popup__content::-webkit-scrollbar-thumb {
  background: rgba(var(--flowforge-rgb-secondary), 0.5);
  border-radius: 999px;
}
