/* Tabs */
.flowforge-tabs {
  display: flex;
  gap: var(--flowforge-pad-sm);
  border-bottom: 1px solid var(--flowforge-color-border);
  padding: 0;
}
.flowforge-tabs__tab {
  border-bottom: 2px solid transparent;
  margin: 0 0 -1px;
  padding: 0 0 var(--flowforge-pad-xs) 0;
}
.flowforge-tabs__tab--active {
  border-bottom-color: var(--flowforge-color-primary);
}
.flowforge-tabs__tab--disabled {
  border-bottom-color: transparent;
}
.flowforge-tabs__tab--active .flowforge-tabs__button {
  color: var(--flowforge-color-text);
}
