/* Main */
.flowforge-main {
    font: var(--flowforge-text-md);
    color: var(--flowforge-color-text);
}
.flowforge-main,
.flowforge-main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flowforge-main [hidden] {
    display: none !important;
}
